.landing-page__grid {
    min-height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.landing-page__login-column {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 1rem !important;
    padding-left: 1rem !important;
}

.landing-page__login-content {
    width: 100%;
    max-width: 400px;
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 672px) {
    .landing-page__login-column {
        padding: 2rem 1.5rem 2rem 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

.landing-page__image-column {
    display: none;
}

@media (min-width: 1056px) {
    .landing-page__image-column {
        display: block;
    }
}